*.pyc
/.idea/*
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/dynare-python.iml
/.idea/.name
/.idea/other.xml
/.idea/scopes/scope_settings.xml
/dolo/src/dolo/numeric/data/*
*.pickle
/dolo/tests/.coverage
*.swp
